@charset "UTF-8";

/*aparelho em pe portrait*/


body {
    font-size: 14px;
    padding-top: 80px;
    padding-bottom: 70px;
}

header {


    flex-direction: column;
    height: auto;
    padding: 10px;

}

nav ul {

    flex-direction: column;
    gap: 10px;
}

img {
    height: 60px;
    margin-left: 0;
}

main {

    padding: 10px;
}

h1 {
    font-size: 24px;
}

footer {
    font-size: 12px;
    text-align: center;
}